*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures


/app/crashlytics.properties
/keys
/app/private.properties
/app/app.iml
/app/apk

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea/
*.iml
/.idea/gradle.xml
/.idea/vcs.xml
/.idea/misc.xml