.gradle
/local.properties
.DS_Store
/build
/app/src/crashlytics.properties
/keys
/app/private.properties
/app/app.iml
/app/apk

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea/
*.iml
.idea/gradle.xml
.idea/vcs.xml
